[%- FOREACH org IN affiliation -%]
[%- org_id = org.ugent_id -%]
[%- IF memory.${org_id} == 1 -%]
[%- ELSE -%]
 [%- IF org.ugent_id %]
<cfOrgUnitName>
   <cfOrgUnitId>[% org_id | html %]</cfOrgUnitId>
   <cfName cfLangCode="eng" cfTrans="o">[% org.name %]</cfName>
</cfOrgUnitName>
 [%- END -%]
[%- memory.${org_id} = 1 -%]
[%- END %]
[%- END -%]
