[%- FOREACH org IN affiliation -%]
[%- org_id = org.ugent_id -%]
[%- IF memory.${org_id} == 1 -%]
[%- ELSE -%]
 [%- IF org.ugent_id %]
<cfOrgUnit>
   <cfOrgUnitId>[% org_id | html %]</cfOrgUnitId>
   <cfURI>https://biblio.ugent.be/organization/[% org_id | html %]</cfURI>
</cfOrgUnit>
 [%- END -%]
[%- memory.${org_id} = 1 -%]
[%- END %]
[%- END -%]
