[% USE Digest.MD5 -%]
[%- FOREACH au IN contributor %]
  [%- IF au.ugent_id.size %]
    [%- pers_id = au.ugent_id.first -%]
  [%- ELSE -%]
    [%- pers_id = au.name.md5_hex -%]
  [%- END %]
  <cfPers_ResPubl>
    <cfPersId>[% pers_id | html %]</cfPersId>  
    <cfResPublId>[% id | html %]</cfResPublId>
  </cfPers_ResPubl>
[%- END %]
