[%- IF alternative_title.size %]
<cfResPublSubtitle>
  <cfResPublId>[%- id | html -%]</cfResPublId>
  <cfSubtitle cfLangCode="eng" cfTrans="o">[%- alternative_title.0 -%]</cfSubtitle>
</cfResPublSubtitle>
[%- END %]
