<cfResPublTitle>
 [%- IF id %]
 <cfResPublId>[% id | html %]</cfResPublId>
 [%- END %]
 [%- IF title %]
 <cfTitle
 [%- IF language.size %]
   cfLangCode="[% language.first | html %]"
 [%- ELSE %]
   cfLangCode="eng"
 [%- END %]
   cfTrans="o"
 >[% title | html %]</cfTitle>
 [%- END %]
</cfResPublTitle>
